<div class="row">
    <h2 class="text-center m-3 text-color">Login</h2>
    <form>
        <div class="p-fluid">
            <div class="form-group">
                <div class="p-field">
                    <label class="text-color" for="firstname1">Email</label>
                    <input id="firstname1" type="email" pInputText>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="p-field">
                    <label class="text-color" for="lastname1">Lastname</label>
                    <input id="lastname1" type="password" pInputText>
                </div>
            </div>
            <button pButton pRipple type="button" label="Login"
                class="p-button-outlined p-button-success mt-5"></button>
        </div>
    </form>
</div>